:root {
  /* Text */
  --text: #bdb8c4;
  --text-h: #ffffff;

  /* Backgrounds */
  --bg: #000000;
  --bg-secondary: #151217;

  /* Borders / Code */
  --border: #302735;
  --code-bg: #1a151d;

  /* Purple Accent */
  --accent: #d946ef;
  --accent-hover: #e879f9;

  --accent-bg: rgba(217, 70, 239, 0.12);
  --accent-border: rgba(217, 70, 239, 0.5);

  /* Secondary Elements */
  --social-bg: rgba(30, 23, 33, 0.7);

  /* Shadows */
  --shadow:
    rgba(0, 0, 0, 0.45) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.3) 0 4px 6px -2px;

  /* Typography */
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;

  color-scheme: dark;

  color: var(--text);
  background: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

#root {
  width: 100%;
  min-height: 100svh;

  position: relative;
  isolation: isolate;
}

.website-background {
  position: absolute;
  z-index: 0;

  inset: 0;

  width: 100%;
}

.website-foreground {
  position: relative;
  z-index: 1;

  width: 1440px;
  max-width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  min-height: 100svh;

  border-inline: 1px solid var(--border);
  background: #000;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
}

h1,
h2,
h3 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;

  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;

  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

h3 {
  font-size: 20px;
  line-height: 125%;
  letter-spacing: -0.1px;
  margin: 0 0 6px;

  @media (max-width: 1024px) {
    font-size: 18px;
  }
}

p {
  margin: 0;
}

a {
  color: var(--accent);
}

a:hover {
  color: var(--accent-hover);
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;

  padding: 4px 8px;

  background: var(--code-bg);
  border: 1px solid var(--border);
}

.glow-hover {
  transition: filter 0.25s ease;
}

.glow-hover:hover {
  filter: drop-shadow(0 0 8px var(--accent));
}

html {
  scroll-behavior: smooth;
}